.App {
  font-family: sans-serif;
  text-align: center;
}

.search-form input {
  font-size: 16px;
  padding: 10px;
  margin: 10px 5px;
}

.search-form input[type="text"] {
  min-width: 200px;
}

.click-paid {
  cursor: pointer;
}

.receipts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.receipt,
.new-receipt-form {
  border: 2px solid #000;
  width: 30%;
  min-width: 260px;
  max-width: 300px;
  margin: 20px 10px;
  padding: 16px;
}

.receipt {
}

.new-receipt-form {
}

.new-receipt-form form {
  text-align: left;
}

.new-receipt-form input {
  margin-bottom: 10px;
  font-size: 15px;
}

.new-receipt-form input[type="text"],
.new-receipt-form input[type="number"] {
  min-width: 95%;
}

.new-receipt-form input[type="submit"] {
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
}
